<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>first</display-name>
	<!-- 计数器过滤器 -->
	<filter>
		<filter-name>CountFilter</filter-name>
		<filter-class>first.filter.count.CountFilter</filter-class>
		<init-param>
			<param-name>count</param-name>
			<param-value>0</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CountFilter</filter-name>
		<url-pattern>/count/index.jsp</url-pattern>
	</filter-mapping>
	<!-- Struts2过滤器 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>CalServlet</servlet-name>
		<servlet-class>first.servlet.cal.CalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalServlet</servlet-name>
		<url-pattern>/cal/CalServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>first.servlet.uploadfile.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/uploadfile/UploadServlet</url-pattern>
	</servlet-mapping>
	<!-- 利用Ajax动态显示省份和市县 -->
	<servlet>
		<servlet-name>ZoneServlet</servlet-name>
		<servlet-class>first.servlet.dropdown.ZoneServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ZoneServlet</servlet-name>
		<url-pattern>/ajax/dropdown/ZoneServlet</url-pattern>
	</servlet-mapping>
	<!-- 利用Ajax动态文件上传进度 -->
	<servlet>
		<servlet-name>UpLoad</servlet-name>
		<servlet-class>first.servlet.processbar.UpLoad</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpLoad</servlet-name>
		<url-pattern>/ajax/processbar/UpLoad</url-pattern>
	</servlet-mapping>
</web-app>